{% extends "layout.html" %}
{% block body %}

	<style type="text/css">
		body{
			background: url('../static/images_prov/grow-img.jpg') fixed no-repeat;
			background-size:cover;
		}

		#container-us{
			position: absolute;
			background: silver;
			box-shadow: -8px 7px 25px silver;
			border-radius: 15px;
			height: 103%;
			width: 80%;
			top: 5%;
			left: 10%;
		}

		.title{
			position: relative;
			padding-top: 5%;
			padding-left: 40%;
			font-size: 30px;
			color: red;
		}

		.desc{
			position: relative;
			padding-top: 5%;
			padding-left: 10%;
			padding-right: 5%;
			font-size: 17px;
		}
		

		.ref-home{
			display: block;
			position: absolute;
			font-size: 20px;
			top: 2px;
			left: 10px;
			cursor: pointer;
			z-index: 100;
		}
		.ref-home a{
			text-decoration: none;
			color: #722167;
			}

	</style>
	<div id="container-us">
		<div class="ref-home">
			<a  href="{{ url_for('index') }}"> < home</a>
		</div>
		<div class="title">
			Who Are We ? 
		</div>

		<div class="desc">
			Hum.....<br><br> 
			<strong>  Pascal : </strong> The Big Boss !! <br>soo Yeah... ! He is the one who's giving Orders and Food ! hahaha<br><br> <br> 
			<strong> Aurel : </strong> She is ... ? i forgot  *_* <br> Ah Yes, she is the French Teacher of The Boss ! so... :O &emsp; if she says, sit down like a small kity pet ! we are all YES !! :V <br><br> <br> 

			<strong> Vero, Mathieu, Pedro : </strong> the 3 Front Dev ! <br> <br>
			<strong>  Yatchi : </strong> still loading .... * error 404 not found * <br><br> <br> 
			<strong> Others ? </strong> it can be you .... :O <br> <br> 

			we welcome you any time ! 24h/24 ! <br>
			visit our page facebook : <a href="https://www.facebook.com/notes/grow-playground/where-grow-will-go-and-i-will-follow/131323230913619/">Grow</a>

		</div>











	</div>



{% endblock %}