{% extends "layout.html" %}
{% block body %}

	<style type="text/css">
		body{
			background: url('../static/images_prov/home-2.jpg') fixed no-repeat;
			background-size:cover;
		}

		#story{
			position: absolute;
			background: silver;
			box-shadow: -8px 7px 25px silver;
			border-radius: 15px;
			height: 2400px;
			width: 80%;
			top: 10%;
			left: 10%;
		}
		.story-title{
			position: relative;
			padding-top: 5%;
			padding-left: 40%;
			font-size: 30px;
			color: red;
		}

		.story-desc{
			position: relative;
			padding-top: 5%;
			padding-left: 5%;
			padding-right: 5%;
			font-size: 17px;
		}

		.tool-title{
			position: relative;
			padding-top: 5%;
			padding-left: 28%;
			font-size: 28px;
			color: green;
		}
		.tool-desc{
			position: relative;
			padding-top: 5%;
			padding-left: 5%;
			padding-right: 5%;
			font-size: 17px;			
		}

		.grow-title{
			position: relative;
			padding-top: 5%;
			padding-left: 33%;
			font-size: 28px;
			color: #00eaff;			
		}
		.grow-desc{
			position: relative;
			padding-top: 5%;
			padding-left: 5%;
			padding-right: 5%;
			font-size: 17px;			
		}

		.dustWeaver-title{
			position: relative;
			padding-top: 5%;
			padding-left: 30%;
			font-size: 28px;
			color: #8b0a90;			
		}
		.dust-Weaver-desc{
			position: relative;
			padding-top: 5%;
			padding-left: 5%;
			padding-right: 5%;
			font-size: 17px;			
		}

		.cluster-title{
			position: relative;
			padding-top: 5%;
			padding-left: 45%;
			font-size: 28px;
			color: #9e0202;			
		}
		.cluster-desc{
			position: relative;
			padding-top: 5%;
			padding-left: 5%;
			padding-right: 5%;
			font-size: 17px;			
		}

		#why-title{
			position: relative;
			padding-top: 5%;
			padding-left: 45%;
			font-size: 28px;
			color: #ffd200;			
		}
		.why-desc{
			position: relative;
			padding-top: 5%;
			padding-left: 5%;
			padding-right: 5%;
			font-size: 17px;			
		}

		.what-title{
			position: relative;
			padding-top: 5%;
			padding-left: 45%;
			font-size: 28px;
			color: #ffd200;			
		}
		.what-desc{
			position: relative;
			padding-top: 5%;
			padding-left: 5%;
			padding-right: 5%;
			font-size: 17px;			
		}
		.how-title{
			position: relative;
			padding-top: 5%;
			padding-left: 45%;
			font-size: 28px;
			color: #ffd200;			
		}
		.how-desc{
			position: relative;
			padding-top: 5%;
			padding-left: 5%;
			padding-right: 5%;
			font-size: 17px;			
		}


		.ref-home{
			display: block;
			position: absolute;
			font-size: 20px;
			top: 2px;
			left: 10px;
			cursor: pointer;
			z-index: 100;
		}
		.ref-home a{
			text-decoration: none;
			color: #722167;
			background: transparent;
		}

	</style>

<div id="story">
	<div class="ref-home">
		<a  href="{{ url_for('index') }}"> < home</a>
	</div>
	<div class="story-title">
		A History of Dust
	</div>

	<div class="story-desc">
		&emsp;&emsp;&emsp;In the beginning of time there were two gods. The God of Order, Hu, and the God of Chaos, Eon. The energy that was released during a fight between them created the universe as we know it today. But as the force created the world it shattered Hu’s consciousness into a thousand pieces, while hurling Eon into the Ether. <br/>
		
		&emsp;&emsp;&emsp;These pieces of Hu’s shattered consciousness floated around the newborn universe for many centuries, slowly deteriorating into Dust. This Dust reached the world of Elyrion and rained down on it for several days and nights drenching the soil and water in Hu’s consciousness. From this Dust the first conscious life emerged, first animals and trees, then humans.<br/>

		&emsp;&emsp;&emsp;Over the centuries Eon, regained its strength, more and more parts of him escaping the Ether. His aim is to destroy 
		every last fragment of Hu’s consciousness and take control of the whole universe. Since then the battle of the gods 
		continues within each one of us and depending on which god wins, we turn into heroes with the power to save this 
		world or into demons, threatening every living thing around us.<br/>

		&emsp;&emsp;&emsp;Unable to deal with the rising number of demons, humanity was on the brink of extinction but in its final battle a 
		group of heroes emerged that rediscovered their connection to Hu. They learned how to use the Dust that made up their 
		consciousness to cast powerful magic, unlocking some of Hu’s former god abilities. This knowledge turned the tides of 
		battle and returned the demons back into their original form. This victory of humanity was known as “The Rise of the 
		first Dust Weavers”.<br/>

		&emsp;&emsp;&emsp;Despite humanities new found power, Eon influence on the world grew stronger and demon attacks steadily increased. 
		During their first battles, Dust Weavers realized that if their minds were aligned on one common goal, their dust 
		would combine and awaken Hu’s forgotten abilities. To help groups of people to align their values and foster their 
		magic abilities Dust Weavers devised many collaboration tools that helped them to fight their enemies. Weavers 
		devised governments and religions, but as the time passed, these were also corrupted by Eon’s influence and their 
		original purpose forgotten.<br/>
		
	</div>

	<div class="tool-title">
		The Birth Of A New Collaborative Tool
	</div>

	<div class="tool-desc">
		
		&emsp;&emsp;&emsp;In the last hundred years Eon’s corrupting influence on the world increased, leading to greater and greater wars and 
		rising anonymity and coldness. In response to that the “Engineers” have created a magical device that facilitates the
		 absorption of Dust and can thus amplify a Dust Weaver’s powers. This magical device is planned to be given to the 
		 next generation of Dust Weavers, who will need to collect as much Dust as they can, to test the boundaries of the 
		 device’s strengths and weaknesses.If this experiment proves to be successful, humanity will have a tool to train 
		 everyone as a Dust Weaver, bringing the collective consciousness of Hu together to beat Eon back once and for all!
		 <br/>
	</div>
	<!-- Grow a comunity -->

	<div class="grow-title">
		Grow – a community journey 
	</div>

	<div class="grow-desc">

		&emsp;&emsp;&emsp;Grow blurs the lines between massive multiplayer online games, the web and reality. It is a gamified platform that takes you on a personal growth journey and empowers you to build and share your vision of how to live life well, both as an individual and as a member of a community. The whole game experience of Grow is inherently cooperational. You start into the game with a cluster of four other people from your area and as you advance through distinct stages of your personal growth journey you unlock new tools for self-reflection and ways of interacting with your cluster and the growing community in your area. 
	</div>


	<!-- Game Dust Weaver -->

	<div class="dustWeaver-title">
		An Insight into Dust Weaver Society
	</div>

	<div class="dust-weaver-desc">
		&emsp;&emsp;&emsp;Dust Weavers became the protectors and teachers of society. On top of the battlefield, where humanity discovered its powers, they built the capital and created an academy to train people in the arts of dust weaving. A huge part of a Dust Weaver’s life consists of wandering around the lands and lifting the influence of Eon off the land by solving the problems of the people they encounter and so they wander outwards from the capital and whenever they learn something new, from the people they help or from the land itself, this new knowledge gravitates towards them in the form of dust. Each particle of dust is different, as it represents a different part of Hu’s consciousness, and through their connection they implement their new gained knowledge within their culture. Through meditation and self-reflection Dust Weavers consolidate this dust into themselves and thus acquire more of Hu’s god abilities, making them more powerful warriors and wiser teachers
	</div>

	<!-- Game Cluster -->

	<div class="cluster-title">
		Cluster
	</div>

	<div class="cluster-desc">
		&emsp;&emsp;&emsp;When you start playing Grow, you start into it as a part of a 5 member team, which we call “cluster”. The members of a cluster come from the same geolocation, often the same city and they need to help each other if they want to advance optimally within the game. 
	</div>

	<!-- Why -->
	<div id="why-title">
		Why ?
	</div>
	<div class="why-desc">
		&emsp;&emsp;&emsp;Our vision is to increase the number of lives lived well by bringing people together, empowering them to have an open discussion and giving them the tools to make a change. 
	</div>

		<!-- How -->
	<div class="how-title">
		How ?
	</div>
	<div class="how-desc">
		&emsp;&emsp;&emsp;The framework behind Grow is a combination of positive psychology research, philosophy and game design. This combination aims at helping you to reflect on the kind of person you want to become and helps you to become this person by visualizing the steps that you take forward in your everyday life.  
	</div>

		<!-- How -->
	<div class="what-title">
		What ?
	</div>
	<div class="what-desc">
			&emsp;&emsp;&emsp;* Unlock tools to build positive habits <br>

			&emsp;&emsp;&emsp;* Connect to your cluster and a growing community in your area <br>

			&emsp;&emsp;&emsp;* Solve riddles and fight powerful foes together<br>

			&emsp;&emsp;&emsp;* Start on your own hero’s journey and complete quests in your real life<br> 

			&emsp;&emsp;&emsp;* Become more and more powerful, conquer new lands and co-create the world of Elyrion. (Become increasingly…)<br>

	</div>


	<script type="text/javascript" src="../static/js/Grow-PlayGround.js">

	</script>
</div>
{% endblock %}